* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  font-weight: bold;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px lightgreen;
  font-size: 64px;
}

table,
th,
td {
  border-collapse: collapse;
  border: 2px solid black;
}

table {
  margin: auto;
  width: 100%;
}

th,
td {
  padding: 30px 10px;
  text-align: center;
}

input {
  text-align: center;
  width: 80%;
  border: 0px;
  box-sizing: border-box;
}

.myinput {
  background-color: lightgreen;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.blue {
  color: blue;
}
